# Chain Configuration
CHAIN_MODE=mst-testnet
RPC_URL=https://testnetrpc.mstblockchain.com
CHAIN_ID=91562037                  # MST testnet chain ID
EXPLORER_URL=https://testnet.mstscan.com
CONFIRMATIONS=1                 # Wait confirmations before caching

# Smart Contract Addresses (Deployed on MST Blockchain)
SWAP_REGISTRY_ADDRESS=0x9899988b60ee6547d056ad57f84bdF06dD37F40f
FRAUD_REGISTRY_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
POLICY_CONTRACT_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
DECISION_LOG_ADDRESS=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9

# Consortium Governance & Deployer
CONSORTIUM_OWNER_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Carrier Keys (Carrier A)
CARRIER_A_SIGNING_KEY=0fee14ea57ae32d836d84b1d08d8005d10cf3c71294f66ee43f0edac2ae1b547
CARRIER_A_TOKEN_KEY=carrier-a-consortium-secret-key-2026

# Bank Keys (Bank B & Bank C)
BANK_B_SIGNER_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
BANK_C_SIGNER_KEY=0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6

# BridgeKey Signer Mode
SIGNER_MODE=bridgekey           # bridgekey | test-wallet
BRIDGEKEY_ENROLLMENT_SECRET=bridgekey-device-secret-key

# Storage & Services
STORAGE_MODE=sqlite             # sqlite | redis | memory
SQLITE_DB_PATH=blockshield.db
REDIS_URL=redis://localhost:6379
SMTP_HOST=localhost
SMTP_PORT=1025

# Flask Server Config
PORT=5000
FLASK_ENV=development
DEBUG=True
